<%= @sub.title %>


<%= @sub.description %>

</ul>
<% @sub.posts.each do |post| %>
<li><%= post.title %>
<%= User.find(post.user_id).username %>
<%= post.content %>
<% if current_user == User.find(post.user_id)%>
  <form action="/posts/<%= post.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="title">Title</label>
    <input type="text" name="post[title]" id="title">
    <label for="content">Content</label>
    <input type="text" name="post[content]" id="content">
    <input type="submit" value="edit post">
  </form>
<% end %>
</li>
<% end %>

</ul>

<p>Create new post</p>
<form action="/subs/<%= @sub.id %>/posts" method="post">
  <label for="title">Title</label>
  <input type="text" name="post[title]" id="title">
  <label for="content">Content</label>
  <input type="text" name="post[content]" id="content">
  <input type="submit" value="create post">
</form>
